<div class="background-white well well-lg drop-shadow margin-30">

<%= form_with(model: event, local: true) do |form| %>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><%= form.label :name %></span>
		<%= form.text_field :name, type: "text", class: "form-control", placeholder: "Event Name" %>
	</div>

	<div class="input-group">
	<span class="input-group-addon" id="basic-addon2"><%= form.label :description %></span>
	<%= form.text_area :description, type: "text", class: "form-control", placeholder: "Event Description" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon"><%= form.label :date %></span>
		<%= form.text_field :date, type: "text", class: "form-control", label: "Amount (to the nearest dollar)" %>
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon3"><strong>Upload Photo</strong></span>
		<%= form.file_field :display_photo, class: "form-control", id: "Upload Photo" %>
	</div>
 <%= form.submit "Create New Event" %>
<% end %>

</div>
