<div class="container padding-30">
	<% if current_admin.present? %>
	<%= render 'event_form' , event: @event, method: 'create' %>
<% end %>

<% unless @events.nil? %>
	<% @events.each do |event| %>

			<div class="col-md-12 text-center background-gray well drop-shadow">

				<div class="col-md-4 pull-left padding-top-10 text-center">
					<%= link_to event_path(event) do %>
					<%= image_tag event.display_photo.url, class: "drop-shadow" %>
					<% end %>

				</div>

			    <div>



			      <div class="col-md-8 text-center pull-right">

							<%= link_to event_path(event) do %>
			        <h3 class="well-sm background-white drop-shadow"><%= "#{event.name}" %>
							</h3>
							<% end %>


							<div class=" background-white well-sm text-left drop-shadow padding-10 margin-10">

								 <h4>Description:</h4><br>	<%= event.description %>

								<h4>When:</h4> <%= event.date %>

							</div>
							<% if current_admin.present? %>
							<button type="button" class="btn-red drop-shadow">
								<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								<%= link_to 'Destroy', event, method: :delete, :confirm => "Are you sure you wish to delete #{event.name}?" %>
							</button>
							<% end %>
			      </div>

			    </div>

			</div>


	<% end %>
<% end %>
</div>
