<h1>Events#index</h1>
<p>events/index.html.erb</p>


<div class="celebrate_image">
  <%= image_tag ("lets_celebrate.png") %>
</div>

<div class="photo_btn">
  <button type="button">Photos</button>
</div>

<div class="Halloween_image">
  <%= image_tag ("Halloween_party.png") %>

  <div class="text">
  <p>On Friday October 27th, 2017 we had our biggest fundraising event of the year: our famous Halloween party!</p>
  </div>

  <div class="photo_btn">
    <button type="button">Photos</button>
  </div>

  <div class="info">
    <p>For more information please contact Patu Zottolo at (305)877-7199 or email: info@lardocaminhousa.org</p>
  </div>

</div>


<div class="Sponsors">
  <%= image_tag ("sponsors.jpeg") %>
</div>

<div class="partners">
  <%= image_tag ("event_partners.jpeg") %>
</div>



<% if current_admin.present? %>
	<%= render 'event_form' , event: @event %>
<% end %>

<% @events.each do |event| %>
	<%= link_to "#{event.name}", event_path(event) %>
	<% if current_admin.present? %>
		<%= link_to 'Destroy', event, method: :delete, :confirm => "you sure you want to delete?" %>
	<% end %>
<% end %>
