<h1><%= @event.name %></h1>
<p>events/show.html.erb</p>

<% @event.packages.each do |package| %>
	<%= package.name %>
	<% if current_admin.present? %>
		<%= link_to 'Destroy', package, method: :delete %>
	<% end %>
<% end %>

<% if current_admin.present? %>
	<%= render 'form' , package: @package, event_id: @event_id %>
<% else %>
<% end %>
	<%= render 'ticket_form' %>
