<h1><%= @event.name %></h1>
<p>events/show.html.erb</p>

<% @event.packages.each do |package| %>
	<%= package.name %>
	<% if current_admin.present? %>
		<%= link_to 'Destroy', package, method: :delete %>
	<% end %>
<% end %>

<% if current_admin.present? %>
	<%= render 'package_form' , package: @package, event_id: @event_id %>
<% else %>
<% end %>

<% @event.packages.each do |package| %>
	<%= render 'ticket_form' , ticket: @ticket, package: package, package_id: package.id%>
<% end %>


