<div class="background-white well well-lg drop-shadow margin-30">

<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :album_title %>
    <%= form.text_field :album_title, id: :album_title %>
  </div>

  <div class="field">
    <%= form.label :cover_photo %>
    <%= form.file_field :cover_photo, id: :album_cover_cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
