<div class="container">
  <div class="text-center well-lg background-grey-tint margin-50 drop-shadow radius-25">

<h1 class="color-white">Albums</h1>
<% if current_admin.present? %>
  <%= render 'form', album: @album, method: 'create' %>
<% end %>


  <div class="row-centered">
    <% unless @albums.nil? %>
      <% @albums.each do |album| %>

    <div class="col-md-5 col-centered well margin-5 drop-shadow radius-25 background-white">
        <div class="text-center">
          <p>
            <%= link_to album_path(album), class: "color-gray" do %>
            <h3 class="text-center">  <%= "#{album.album_title}" %></h3>
          </p>
          <%= image_tag album.cover_photo.url, class:"photo-box-lg"%>
          <% end %>

        </div>
        <div class="col-centered col-md-12">
          <div class="text-center">
            <% if current_admin.present? %>
            <button type="button" class="btn-red drop-shadow">
              <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
              <%= link_to 'Destroy', album, method: :delete, class: "btn-red", :confirm => "Are you sure you wish to delete this album?" %>
              <% end %>
            </button>

          </div>

        </div>
    </div>
    <% end %>
    <% end %>

    </div>



</div>

</div>
