<div class="container">
  <div class="text-center well-lg background-white margin-top-50 drop-shadow radius-25">

<p id="notice"><%= notice %></p>
<p>
  <strong>Album Title:</strong>
  <%= @album.album_title %>
</p>

<p>
  <strong>Cover Photo:</strong>
  <%= image_tag @album.cover_photo %>
</p>

<% if current_admin.present? %>
	<%= render 'photo_form' , photo: @photo, album_id: @album_id %>
<% end %>

  <% @album.photos.each do |photo| %>
    <div class="text-center well-lg margin-top-50 drop-shadow radius-25">
      <%= image_tag photo.photo_location.url, class:"drop-shadow radius-25" %>
      <% if current_admin.present? %>

      <button type="button" class="btn-red drop-shadow">
        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
        <%= link_to 'Destroy', photo, method: :delete, :confirm => "Are you sure you wish to delete this photo?" %>
      </button>

    </div>
      <% end %>
  <% end %>

</div>

</div>
