<div class="container">
  <div class="text-center well-lg background-white margin-top-50 drop-shadow">

<p id="notice"><%= notice %></p>
<p>
  <strong>Album Title:</strong>
  <%= @album.album_title %>
</p>

<p>
  <strong>Cover Photo:</strong>
  <%= image_tag @album.cover_photo %>
</p>

<% if current_admin.present? %>
	<%= render 'photo_form' , photo: @photo, album_id: @album_id %>
<% end %>

  <% @album.photos.each do |photo| %>
    <div>
      <%= image_tag photo.photo_location.url %>
      <% if current_admin.present? %>
        <button>
          <%= link_to 'Destroy', photo, method: :delete, :confirm => "you sure you want to delete?" %>
        </button>
    </div>
      <% end %>
  <% end %>

</div>

</div>
