<p id="notice"><%= notice %></p>
<p>
  <strong>Album Title:</strong>
  <%= @album.album_title %>
</p>

<p>
  <strong>Cover Photo:</strong>
  <%= @album.cover_photo %>
</p>

<%= link_to 'Add Photo', new_album_photo_path(@album) %> |
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<% @album.photos.each do |photo| %>
	<p>
		<%= image_tag photo.file.url %>
	</p>
<% end %>
