<!DOCTYPE html>
<html>
<head>
  <title>Lar-Do-Caminho</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="turbolinks-cache-control" content="no-cache">
</head>


<body class="bg">
  <div id="body-bg">


    <!-- Header -->
    <div id="header">
      <div class="container col-md-0 padding-10 drop-shadow">
        <div class="row radius-25">

          <!-- Top Menu -->
          <div id="hornav" class="drop-shadow radius-25">
            <div class="container padding-bottom-5">

              <div class="row">

                <div class="pull-right">
                  <ul class="social-icons circle row-centered padding-vert-10">
                    <div class="col-md-1 col-centered">
                      <a href="http://www.facebook.com/lardocaminhousa"  title="Facebook">
                        <li>
                          <i class="fa fa-facebook fa fa-2x"></i>
                        </li>
                      </a>
                    </div>
                    <div class="col-md-1 col-centered">
                      <a href="http://www.instagram.com/lardocaminhousa" title="Instagram">
                        <li class="">
                          <i class="fa fa-instagram fa fa-2x"></i>
                        </li>
                      </a>
                    </div>
                  </ul>
                </div>
                <%= link_to root_path, class:"drop-shadow" do %>
            <%= image_tag "favicon", class: "ldclogo drop-shadow margin-bottom-5 radius-15", alt: "Logo" %>
            <% end %>
                <div class="col-md-8 no-padding pull-right ">

                  <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav pull-right drop-shadow">
                      <li>
                        <% if current_admin.present? %>
                  	  	  <%= link_to "Logout", logout_path,  class: "drop-shadow fa fa-sign-out" %>
                        <% else %>
                          <%= link_to "Login", login_path, class: "drop-shadow fa fa-sign-in" %>
                  	    <% end %>
                      </li>
                      <li>
                        <%= link_to'Home', root_path, class:"drop-shadow fa fa-home"%>
                      </li>
                      <li>
                        <%= link_to'About', root_path(:anchor => "aboutus"), class:"drop-shadow fa fa-info-circle"%>
                        <ul class="drop-shadow ">
                          <li class="background-gray-light">
                            <%= link_to'Our Team', root_path(:anchor => "ourteam"), class:"drop-shadow fa fa-users"%>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <%= link_to'Gallery', albums_path(), class:"drop-shadow fa fa-picture-o"%>
                      </li>
                      <li>
                        <%= link_to'Events', events_path, class:"drop-shadow fa fa-bullhorn"%>
                      </li>
                      <li>
                        <%= link_to'Donate', donate_path(), class:"drop-shadow fa fa-gift"%>
                      </li>






                    </ul>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
<!-- <body> -->
    <!-- End Header -->


  <!-- Main -->
  <div class="mainarea bg">
    <%= yield %>
    <div class="push"></div>
  </div>
  <!-- End Main -->

  <!-- Footer -->
<!-- </body> -->
  <div id="base">
    <div class="col-md-12 margin-bottom-5 bottom-border padding-vert-5"></div>
      <!-- info -->
      <div class="row">
        <div class="col-md-2">
        </div>
          <div class="col-md-3 pull-left">
            <h3 class="margin-bottom-10"><strong>LAR DO CAMINHO USA</strong></h3>
            <p class="text-left">
              <span class="fa fa-phone">Telephone:</span>&nbsp;<a href="tel:3052050077">+1.305.205.0077</a>
              <br>
              <span class="fa fa-envelope">Email:</span>
              <a href="mailto:admin@lardocaminhousa.org">admin@lardocaminhousa.org</a>
              <br>
              <span class="fa fa-link">Website:</span>
              <a href="http://www.lardocaminhousa.org/">www.lardocaminhousa.org</a>
              <br>
              <!-- < if current_user > -->
              <!-- Signed in as <= current_user.username >. -->

              <!-- <= link_to "Log out", sessions_path("current"), :method => :delete > -->

              <a href="#">

                <% if current_admin.present? %>
          	  	  <%= link_to "Logout", logout_path,  class: "fa fa-sign-out" %>
                <% else %>
                  <%= link_to "Login", login_path, class: "fa fa-sign-in" %>
          	    <% end %>
              </a>
              <!-- < else >
              < end > -->
            </p>
          </div>
          <div class="col-md-1">
          </div>
        <div class="col-md-6 text-center">
          <div class="col-md-1">
          </div>
          <div class="col-md-3 text-right">
              <ul class="list-inline">
                <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'Home', root_path, class:"drop-shadow fa fa-home"%>
                  </li>
                  <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'About', root_path(:anchor => "aboutus"), class:"drop-shadow fa fa-info-circle"%>
                  </li>
                  <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'Our Team', root_path(:anchor => "ourteam"), class:"drop-shadow fa fa-users"%>
                  </li>
              </ul>
          </div>
          <div class="col-md-3 text-right">
              <ul class="list-inline">
                  <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'Gallery', albums_path(), class:"drop-shadow fa fa-picture-o"%>
                  </li>
                  <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'Events', events_path, class:"drop-shadow fa fa-bullhorn"%>
                  </li>
                  <li class="margin-10 drop-shadow radius-15">
                    <%= link_to'Donate', donate_path(), class:"drop-shadow fa fa-gift"%>
                  </li>
              </ul>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="background-grey-tint">
      <div class="container">
        <div class="row">
          <!-- Footer Menu -->
          <div id="footermenu" class="col-md-8">
            <p class="pull-left">&copy; Lar-Do-Caminho All rights reserved.</p>
          </div>
          <!-- End Footer Menu -->

          <div id="copyright" class="col-md-4">
            <p class="pull-right">
              Design: <a href="https://github.com/eddyleme/lar-do-caminho">Wyncoders</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- <script>
  	var scroll = new SmoothScroll('a[href*="#"]');
  </script> -->

    </html>
